@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login__bg {
  color: rgba(119, 119, 119, 0.023)000;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
}

.login__form#table {
  width: 500px;
  padding-top: -20px;
}

.login__form#profile {
  width: 500px;
}

.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.login__inputs, 
.login__box {
  display: grid;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding: 0.75rem;
  font-size: 0.875rem;
}
.home-link {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.home-link:hover {
  color: #ccc;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
  margin-bottom: 0.5rem;
}

.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-5);
  border-radius: 100px;
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid transparent;
  transition: var(--transition);
}

.no-bookings{
  padding-bottom: 40px;
}

.btn-primary {
  background: var(--bright-navy-blue);
  border-color: var(--bright-navy-blue);
}

.btn-primary:is(:hover, :focus) {
  background: var(--yale-blue);
  border-color: var(--yale-blue);
}

.login__input, 
.login__button {
  border: none;
  outline: none;
}

.no-bookings {
  text-align: center;
  color: #fff;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}

.login__input::placeholder {
  color: var(--white-color);
}

.login__box i {
  font-size: 1.25rem;
}

.login__check, 
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login__forgot {
  color: var(--white-color);
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}

.login__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__register a {
  color: var(--white-color);
  font-weight: 500;
}

.login__register a:hover {
  text-decoration: underline;
}

.login__table-container {
  overflow-x: auto;
}

.login__table{
  align-items: center;
}

.emergency-container {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.emergency-title {
  color: #d9d9d9;
  font-size: 24px;
  margin-bottom: 10px;
}

.emergency-list {
  list-style-type: none;
  padding: 0;
}

.emergency-list li {
  margin-bottom: 5px;
}

.profile-section {
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 10px;
  align-self: center;
}

.profile-name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.profile-status {
  color: green;
}

.login__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.login__table th, .login__table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.login__table th {
  background-color: #000000a4;
}

.login__table input[type="text"],
.login__table input[type="date"] {
  width: calc(100% - 16px);
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/login-bg.jpg");
  background-size: fill;
  background-position: center;
}

.review {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 18px;
}


.place-visited {
  margin-bottom: 20px;
}

.place-visited h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.place-visited p {
  font-size: 16px;
  color: #666;
}


.review-form {
  width: 100%;
  min-height: 40px;
}

.review__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.review__inputs {
  margin-bottom: 20px;
}

.review__box {
  position: relative;
}

.review__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
  transition: background-color 0.3s;
  box-sizing: border-box; 
}

.review__input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.ri-pencil-fill {
  position: absolute;
  right: 10px;
  bottom: 12px;
  color: #ccc; 
}

.review__button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: hwb(214 23% 21%);;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review__button:hover {
  background-color: hwb(214 23% 44%);; 
}

@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }

  .login__form {
    width: 420px;
    padding-inline: 2.5rem;
  }

  .login__title {
    margin-bottom: 2rem;
  }

  .login__box {
    grid-template-columns: 1fr auto;
    column-gap: 0.75rem;
  }

  .login__button {
    width: auto;
  }

  .review {
    margin: 50px auto;
  }

  .review__inputs {
    display: flex;
    justify-content: space-between;
  }

  .review__input {
    width: calc(50% - 5px);
  }

  .review__button {
    width: 100%;
  }

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.login__table input[type="text"],
.login__table input[type="date"] {
  width: 100%;
}

.review {
  width: 80%;
  max-width: 800px;
}

.user-details {
  margin-bottom: 30px;
}

.profile-pic {
  width: 70px;
  height: 70px;
}
}