{% load static from static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'login/css/home.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>
<body id="top">
  <header class="header" data-header>
    <div class="overlay" data-overlay></div>
    <div class="header-top">
      <div class="container">
        <a href="tel:+01123456790" class="helpline-box"></a>
        <a href="#" class="logo">
          <h2 class="Main-Logo">TravelTogether</h2>
        </a>
        <div class="header-btn-group">
          <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <nav class="navbar" data-navbar>
          <div class="navbar-top">

            <a href="#" class="logo">
              <img src="{% static '/images/logo-blue.svg' %}" alt="Tourly logo">
            </a>

            <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <ul class="navbar-list">
            <li>
              <a href="{% url 'profile' %}" class="navbar-link" data-nav-link>Profile</a>
            </li>

            <li>
              <a href="#home" class="navbar-link" data-nav-link>home</a>
            </li>
            
            <li>
              <a href="#destination" class="navbar-link" data-nav-link>destination</a>
            </li>
            <li>
              <a href="#contact" class="navbar-link" data-nav-link>contact us</a>
            </li>
            <li>
              <a href="{% url 'remainder' %}" class="navbar-link" data-nav-link>Remainders</a>
            </li>

          </ul>

        </nav>

        <a href="#find-match" class="btn btn-primary" >Check Now</a>

      </div>
    </div>

  </header>
  <main>
    <article>
      <section class="hero" id="home">
        <div class="container">

          <h2 class="h1 hero-title">Explore. Connect. Travel.</h2>

          <p class="hero-text">
            Embark on adventures and forge friendships as you explore the world with like-minded travelers. Join us to make every journey an unforgettable experience.
          </p>

          <div class="btn-group">
            <button class="btn btn-secondary">Learn More</button>
          </div>

        </div>
      </section>
      <section class="tour-search" id="find-match">
        <div class="container">

          <form action="" class="tour-search-form">

            <div class="input-wrapper">
              <label for="destination" class="input-label">Search Destination</label>

              <input type="text" name="destination" id="destination" required placeholder="Enter Destination"
                class="input-field">
            </div>

            <div class="input-wrapper">
              <label for="people" class="input-label">Traveler Number</label>

              <input type="number" name="people" id="people" required placeholder="No.of People" class="input-field">
            </div>

            <div class="input-wrapper">
              <label for="checkin" class="input-label">Trip Start</label>

              <input type="date" name="checkin" id="checkin" required class="input-field">
            </div>

            <div class="input-wrapper">
              <label for="checkout" class="input-label">Trip End</label>

              <input type="date" name="checkout" id="checkout" required class="input-field">
            </div>

            <button type="submit" class="btn btn-secondary">Check now</button>

          </form>

        </div>
      </section>

      <section class="popular" id="destination">
        <div class="container">

          <p class="section-subtitle">Uncover place</p>

          <h2 class="h2 section-title">Popular destination</h2>

          <p class="section-text">
            Discover sought-after destinations and connect with fellow travelers to explore them together. Unlock unique experiences and make unforgettable memories as you journey with newfound friends
          </p>

          <ul class="popular-list">

            <li>
              <div class="popular-card">

                <figure class="card-img">
                  <img src="{% static '/login/img/jammu.jpg' %}" alt="San miguel, italy" loading="lazy">
                </figure>

                <div class="card-content">
                  <p class="card-subtitle">
                    <a href="#">Hajan Valley</a>
                  </p>
                  <h3 class="h3 card-title">
                    <a href="{% url 'jammu' %}">Jammu & Kashmir</a>
                  </h3>
                  <p class="card-text">
                    Situated at a distance of 15 km from Pahalgam in the Anantnag district of Jammu and Kashmir. 
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="popular-card">
                <figure class="card-img">
                  <img src="{% static '/login/img/munnar.jpg' %}" alt="Burj khalifa, dubai" loading="lazy">
                </figure>
                <div class="card-content">
                  <p class="card-subtitle">
                    <a href="#">Munnar</a>
                  </p>
                  <h3 class="h3 card-title">
                    <a href="{% url 'idukki' %}">Idukki</a>
                  </h3>
                  <p class="card-text">
                    A town in the Western Ghats mountain range in India’s Kerala state.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="popular-card">
                <figure class="card-img">
                  <img src="{% static '/login/img/india-gate.jpg' %}" alt="Kyoto temple, japan" loading="lazy">
                </figure>
                <div class="card-content">
                  <p class="card-subtitle">
                    <a href="#">India Gate</a>
                  </p>
                  <h3 class="h3 card-title">
                    <a href="{% url 'Delhi' %}">New Delhi</a>
                  </h3>
                  <p class="card-text">
                    It is a war memorial located near the Kartavya path on the eastern edge of the "ceremonial axis" of New Delhi.
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <button class="btn btn-primary">More destintion</button>
        </div>
      </section>
      <section class="review-section">
        <h2>Customer Reviews</h2>
        <div class="reviews-container">
                {% for i in Reviews %}

            <div class="review">
                <div class="reviewer">
                {% for image in image %}
                    {% if image.name == review.name %}
                    <img src="{{image.photo.url}}" alt="User Avatar">
                    {% endif %}
                {% endfor %}
                    <h3>{{i.name}}</h3>
                </div>
                <p class="review-text">"{{i.review}}"</p>
            </div>
            {% endfor %}
            <div class="review">
                <div class="reviewer">
                    <img src="{% static '/login/img/india-gate.jpg' %}" alt="User Avatar">
                    <h3>Jane Smith</h3>
                </div>
                <p class="review-text">"Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo."</p>
            </div>
            <div class="review">
              <div class="reviewer">
                  <img src="{% static '/login/img/india-gate.jpg' %}" alt="User Avatar">
                  <h3>Jane Smith</h3>
              </div>
              <p class="review-text">"Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo."</p>
          </div>
          <div class="review">
            <div class="reviewer">
                <img src="{% static '/login/img/india-gate.jpg' %}" alt="User Avatar">
                <h3>Jane Smith</h3>
            </div>
            <p class="review-text">"Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo."</p>
        </div>
        <div class="review">
          <div class="reviewer">
              <img src="{% static '/login/img/india-gate.jpg' %}" alt="User Avatar">
              <h3>Jane Smith</h3>
          </div>
          <p class="review-text">"Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo."</p>
        </div>
        </div>
      </section>
      <section class="cta" id="contact">
        <div class="container">
          <div class="cta-content">
            <p class="section-subtitle">Call To Action</p>
            <h2 class="h2 section-title">Ready For Unforgatable Travel.</h2>
            <p class="section-text">
              Ready for unforgettable travel memories? Don't forget about us! Get in touch today to know more about our website and discover travel partners for your next adventure.
            </p>
          </div>
          <button class="btn btn-secondary">Contact Us !</button>
        </div>
      </section>
    </article>
  </main>
  

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>

  <script src="{% static '/login/js/script.js' %}"></script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>