{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jammu Kashmir</title>
  <link rel="stylesheet" href="{% static 'login/css/home.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>
<body id="top">
  <header class="header" data-header>
    <div class="overlay" data-overlay></div>
  </header>
  <main>
    <article>
      <section class="hero" id="jammu">
        <div class="container">

          <h2 class="h1 hero-title">Jammu & Kashmir</h2>

          <p class="hero-text">
            Picturesque and enchanting, Kashmir is cradled high in the lofty green Himalayas and hailed all over the world for its incredible natural beauty. Surrounded by mountain peaks, lush green valleys, glistening lakes, temples and spectacular Mughal-era gardens, it has inspired poets through centuries.
          </p>

          <div class="btn-group">
            <a href="{% url 'booking' %}" class="btn btn-secondary">Book Now</a>
          </div>

        </div>
      </section>
      

      <section class="tourist-info">
        <div class="container">
          <div class="rectangle-container">
            <h2 class="section-title">Other Tourists Booked for the Same Package</h2>
            <table class="tourist-table">
              <thead>
                <tr>
                  <th>Destination</th>
                  <th>Number of Members</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Number</th>
                </tr>
              </thead>
              <tbody>
              {% for i in travellers %}
                {% if i.place == 'jammu' %}
          <tr>
            <td>{{ i.sub_places }}</td>
            <td>{{i.no_of_travellers}}</td>
            <td>{{i.date_from}}</td>
            <td>{{i.date_to}}</td>
            <td>{{i.phone}}</td>
        </tr>
              {% endif %}
              {% endfor %}  
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section class="popular" id="destination">
        <div class="container">

          <p class="section-subtitle">Jammu Kashmir</p>

          <h2 class="h2 section-title">Must Visit</h2>

          <p class="section-text">
            Discover the unmatched beauty and rich culture of Jammu and Kashmir. From the serene Dal Lake to the snow-capped peaks of Gulmarg, explore breathtaking landscapes and timeless heritage. Experience warm hospitality, delicious cuisine, and thrilling adventures in this northern paradise.
          </p>

          <ul class="popular-list">

            <li>
              <div class="popular-card">

                <figure class="card-img">
                  <img src="{% static '/login/img/dal.jpg' %}" alt="San miguel, italy" loading="lazy">
                </figure>

                <div class="card-content">
                  <h3 class="h3 card-title">
                    <a href="#">Dal Lake</a>
                  </h3>
                </div>
              </div>
            </li>
            <li>
              <div class="popular-card">
                <figure class="card-img">
                  <img src="{% static '/login/img/Doodhpathri.jpg' %}" alt="Burj khalifa, dubai" loading="lazy">
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">
                    <a href="#">Doodhpathri</a>
                  </h3>
                </div>
              </div>
            </li>
            <li>
              <div class="popular-card">
                <figure class="card-img">
                  <img src="{% static '/login/img/Tulip-Garden.jpg' %}" alt="Kyoto temple, japan" loading="lazy">
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">
                    <a href="#">Tulip Garden</a>
                  </h3>
                </div>
              </div>
            </li>
          </ul>
          <ul class="popular-list">
            <li>
              <div class="popular-card">
                <figure class="card-img">
                  <img src="{% static '/login/img/Gulmarg.jpg' %}" alt="San miguel, italy" loading="lazy">
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">
                    <a href="#">Gulmarg</a>
                  </h3>
                </div>
              </div>
            </li>
            <li>
              <div class="popular-card">
                <figure class="card-img">
                  <img src="{% static '/login/img/srinagar.jpg' %}" alt="Burj khalifa, dubai" loading="lazy">
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">
                    <a href="#">Srinagar</a>
                  </h3>
                </div>
              </div>
            </li>
            <li>
              <div class="popular-card">
                <figure class="card-img">
                  <img src="{% static '/login/img/Hajan.jpg' %}" alt="Kyoto temple, japan" loading="lazy">
                </figure>
                <div class="card-content">
                  <h3 class="h3 card-title">
                    <a href="#">Wadiy e Hajan</a>
                  </h3>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <div class="review-section">
        <h2>Customer Reviews</h2>
        {% if reviews %}
        <div class="reviews-container">
                {% for  review in reviews %}

            <div class="review">
                <div class="reviewer">
                {% for image in image %}
                    {% if image.name == review.name %}
                    <img src="{{image.photo.url}}" alt="User Avatar">
                    {% endif %}
                {% endfor %}
                    <h3>{{review.name}}</h3>
                </div>
                <p class="review-text">"{{review.review}}"</p>
            </div>   
            {% endfor %}
        </div>
        
        {% else %}
        <p class="review-text">No Reviews</p>
        <a href="{% url 'reviewpage' %}" class="btn btn-primary">Add Review</a>
        {% endif %}
    </div>
      <section class="cta" id="contact">
        <div class="container">
          <div class="cta-content">
            <p class="section-subtitle">Call To Action</p>
            <h2 class="h2 section-title">Emergency Numbers</h2>
            <div class="emergency-container">
              <p class="section-text">Hospital Number: 123-456-789</p>
              <p class="section-text">Police Station Number: 987-654-321</p>
              <p class="section-text">Helpline: 911</p>
          </div>
          </div>
          <button class="btn btn-secondary">Contact Us !</button>
        </div>
      </section>
    </article>
  </main>
  

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>

  <script src="{% static '/login/js/script.js' %}"></script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>