{% load static from static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
      <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">

      <title>Login</title>
   </head>
   <body>
      <div class="login">
         <img src="{% static 'login/img/login-bg.jpg' %}" alt="image" class="login__bg">
         

         <form action="" class="login__form" method ='post'>
         {% csrf_token %}
            <h1 class="login__title">Login</h1>
            {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <p style="color: red; text-align: center; z-index: 1000;" class="error">{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
            <div class="login__inputs">
               <div class="login__box">
                  <input type="text" placeholder="Email ID" name='email' required class="login__input">
                  <i class="ri-mail-fill"></i>
               </div>

               <div class="login__box">
                  <input type="password" placeholder="Password" name='password' required class="login__input">
                  <i class="ri-lock-2-fill"></i>
               </div>
            </div>

            <div class="login__check">
               <div class="login__check-box">
                  <input type="checkbox" class="login__check-input" id="user-check">
                  <label for="user-check" class="login__check-label">Remember me</label>
               </div>

               <a href="#" class="login__forgot">Forgot Password?</a>
            </div>

            <button type="submit" class="login__button">Login</button>

            <div class="login__register">
               Don't have an account? <a href="#">Register</a>
            </div>
         </form>
      </div>
   </body>
</html>