{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
    <title>Profile</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'login/img/travel.jpg' %}" alt="image" class="login__bg">
        <form action="" class="login__form" id="profile" method="post">
            <a href="{% url 'homepage' %}" class="home-link"><i class="ri-home-2-line"></i></a>
            <div class="profile-section">
                <img src="{% static 'login/img/login-bg.jpg' %}" alt="Profile Photo" class="profile-photo">
                <h2 class="profile-name">John Doe</h2>
                <p class="profile-status">Online</p>
            </div>
            <h1 class="login__title">Booked Trips</h1>
            <div class="login__table-container">
            {% if booked %}
                <table class="login__table">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in booked %}
                        <tr>
                            <td>{{i.place}}</td>
                            <td>{{i.date_from}}</td>
                            <td>{{i.date_to}}</td>
                            <td><button type="button" class="login__button" onclick='cancelFunc()'>Cancel</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %} 
            <div class="no-bookings">No Bookings</div>
            {% endif %}
            </div>
        </form>
    </div>
</body>
<script>

    function cancelFunc(){
        window.location.href="{% url 'cancelFunc' %}";
    }

</script>
</html>
